



<table class="table table-striped">
 <thead>
   <tr>
     <th scope="col">#</th>
     <th scope="col">Movie Name</th>
     <th scope="col">Release Date</th>
     <th scope="col">Sceduled Watch  </th>
     <th scope="col">Edit Date  </th>
     <th scope="col">Delete Movie  </th>
   </tr>
 </thead>
 <tbody>
  <% l_to_watch.forEach( w => { %>
   <tr>
     <th scope="row">1</th>
     <td><%=  w.m_name %></td>
     <td><%=  w.release_date.toDateString() %></td>
     <td> <%=  w.sced_date.toDateString() %></td>
     <td><a  type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Edit</a>  </td>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
 <div class="modal-dialog">

   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       
       <h4 class="modal-title">Change Sceduled Movie</h4>
     </div>
    <form action="/update-sced/<%= w._id %>" method="post" >
     <div class="form-group row" style="padding-top: 2%;">
      <label for="sced_time"  class="col-2 col-form-label">Changed date </label>
      <div class="col-10">
      
       <input type="datetime-local" id="sced_time" name="sced_time">
      </div>
    </div>

    <input type="hidden" name="_id"  value="<%= w._id %>" >
    <input type="hidden" name="m_name"  value="<%= w.m_name %>" >
    <input type="hidden" name="release_date"  value='<%= w.release_date %>' >
  
    <!-- <a href="/update-sced/<%= w._id %>"  type="submit" class="btn btn-success">Update</a> -->
    <button  type="submit" class="btn btn-success">Submit</button> 
   </form>
     <div class="modal-footer">
      
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>

 </div>
</div>

     

     <td> <a href="/del-watchlist/<%= w._id %>"  type="submit" class="btn btn-success">Delete</a> </td>
   </tr>
   <% }) ; %>

 </tbody>
</table>
 

