<html>
 <head>
  
 <%- include("./components/imp-link.ejs") %>
 <link rel="stylesheet" href="/app.css">
 </head>

<body>
 <%- include('./components/nav.ejs') %>

 <%- include('./components/watch-form.ejs') %>
 

 <%- include('./components/footer.ejs') %>
 <%- include("./components/imp-script.ejs") %>
 <script src="/script.js"></script>
</body>

</html>